<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConsultantName" value="Alexis Atchison" />
    <add key="ConsultantPhone" value="217.473.6447" />
    <add key="ConsultantEmail" value="alexis.atchison@illinois.gov" />
    <add key="ManagerName" value="Arshad Manzoor" />
    <add key="TemplatePath" value="C:\LRS Docs\Template - Semi-Monthly Time Sheet.xlsx" />
    <add key="ExcelOutputPath" value="C:\LRS Docs\Timesheets\Timesheet.xlsx" />
    <add key="EmailTo" value="alexis.atchison@illinois.gov" />
    <add key="EmailSubject" value="Timesheet is ready to print: " />
  </appSettings>
</configuration>